@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 50%;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.centered {
  position: absolute;
  top: 55%;
  left: 28%;
  font-size: 20px;
  transform: translate(50%, 0%);
}