@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #F2F4FB;
}

img {
  width: 50%;
  height: 50%;
}

a {
  text-decoration: none;
}

.my-footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
  box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
}

.containerr {
}

.host {
  background-color: #00000000;
  font-size: 40px;

}

.fa-heart {
  color: red;
}

#author {
  color: #1595EA;
}

#terms {
  padding-left: 5em;
  color: #26539E;
}
